.more-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header-and-data {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 50px;
    width: 100%;
    border-top: 1px solid rgb(53, 108, 139);
}