.more-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
ul {
    list-style-type: none;
    padding: 0;
}
ul li {
    line-height: 3;
    letter-spacing: 1.5px;
    border-bottom: 1px solid rgb(77, 122, 136);
    width: 100%;
}