.card-content {
    padding: 15px 20px;
}
.beach {
    width: 100%;
    padding: 0 5px;
}
.beach-open {
    background-color: #84bedf6c;
    border-radius: 4px;
    padding: 0 10px;
}
.beach:hover {
    cursor: pointer;
    background-color: #aec3d3;
}
.name-and-waveheight {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
}