.card-content {
    padding: 15px 20px;
}
.beach {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    padding: 0 4px;
}
.beach-open {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 4px;
}
.beach:hover {
    cursor: pointer;
    background-color: #aec3d3;
}