.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.seaweed-image {
  margin-bottom: 15px;
}
.seaweed-image:hover {
  cursor: pointer;
}
#logo {
  margin-left: 20px;
}
@media screen and (max-width: 500px){
  #logo {
    width: 300px;
  }
}
